* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.link,
.button {
    cursor: pointer;
}

.indie-flower {
    font-family: 'Indie Flower', cursive;
}

.font-pink {
    color: rgb(199, 21, 131);
}

.font-blue {
    color: rgb(5, 155, 155);
    padding: 2px;
}

.font-gray {
    color: rgb(104, 102, 102);
}
/*画面全体のstyle*/
.estra_body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    color: rgb(122, 121, 121);
}
/*headerのstyle*/
.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.1%;
    padding: 20px 15px 4px 15px;
}
/*logo全体のstyle*/
.estra {
    width: 40%;
}
/*logoのstyle*/
.estra_logo {
    width: 35%;
    padding: 2px 10px;
}
/*ナビゲーションメニュー全体のstyle*/
.nav {
    width: 60%;

}
/*ナビゲーションメニューulのstyle*/
.list-menu {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}
/*ナビゲーションメニューliのstyle*/
.list-item {
    list-style-type: none;
    padding: 2px 10px;
    margin: 0 2%;
}
/*ナビゲーションメニューlinkのstyle*/
.nav-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: inherit;
}
/*最初の文字＆イメージ全体のstyle*/
.top_content {
    display: flex;
    position: relative;
    width: 100%;
    margin: 0.5% auto;
}
/*文字全体のstyle*/
.commit_message {
    width: 40%;
}
/*Commitの文字style*/
.mission-statement {
    width: 100%;
    font-size: 4.8rem;
    line-height: 5rem;
    margin: 0;
    margin: 5% auto 1%;
}
/*すべての人の文字全体のstyle*/
.commitment-jp {
    font-size: 2.3rem;
    font-weight: 900;
    top: 45%;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 2px;
}
/*会社紹介文のstyle*/
.company-info {
    font-size: 1.8rem;
    top: 55%;
    font-weight: 500;
    padding: 2px;
    margin: 0;
}

.mission-statement,
.commitment-jp,
.company-info {
    position: absolute;
    left: 13%;
}
/*イメージ画像全体のstyle*/
.top-img-folder {
    width: 60%;
}
/*イメージ画像のstyle*/
.first-view-img {
    width: 100%;
}
/*news全体のstyle*/
.news-section {
    width: 70%;
    padding: 10px;
    margin: 4% auto;
}
/*newsと新着情報文字全体のstyle*/
.news-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*titleのピンク文字のstyle*/
.title {
    width: 100%;
    margin: 1% auto 0.1%;
    font-size: 1.3rem;
}
/*titleの下の文字のstyle*/
.sub-title {
    width: 100%;
    margin: 0.1% auto 1%;
    font-size: 1.8rem;
    font-weight: 600;
}
/*news全体のstyle*/
.news-list-section {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*ulのstyle*/
.news-topic {
    width: 100%;
    font-size: 1.3rem;
    text-decoration: none;
    list-style: none;
    text-align: left;
}
/*ニュース全体のstyle*/
.btn-container {
    border-radius: 18px;
    display: inline-block;
    padding: 2px 10px;
    background-color: rgb(199, 21, 131);
    text-decoration: none;
    text-align: center;
    margin: 1% 5%;
}
/*ニュースボタン*/
.news-link {
    text-decoration: none;
    color: white;
}
/*liのstyle*/
.list {
    width: 100%;
    border-bottom: 1px solid gray;
    font-weight: 500;
    padding: 2px 10px;
}
/*liの線のみ上*/
.list-top {
    width: 100%;
    border-bottom: 2px solid rgb(110, 109, 109);
}
/*liの線のみ下*/
.list-end {
    width: 100%;
    border-top: 2px solid rgb(110, 109, 109);
    margin-top: 1.5%;
}
/*about全体のstyle*/
.company-over-view {
    width: 100%;
    background-color: rgb(247, 245, 245);
    padding: 10px;
    margin: 12% auto;
    display: block;
}
/*about文字のstyle*/
.over-view-title {
    text-align: center;
}
/*Technology × coaching文字のstyle*/
.over-view-sub-title {
    text-align: center;
}
/*紹介文＆loveイメージ全体のstyle*/
.company-details {
    width: 90%;
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 12%;
    padding: 10px 10px 30px;
    margin: 1% auto;
}
/*紹介文のstyle*/
.company-mission {
    width: 45%;
    font-size: 1.8rem;
    line-height: 2rem;
    padding: 2px 10px;
}
/*loveのイメージ全体のstyle*/
.company-image-container {
    width: 45%;
    display: flex;
    padding: 2px;
}
/*イメージのstyle*/
.company-image {
    width: 100%;
}
/*Service全体のstyle*/
.service-section {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2px 10px;
    margin: 1% auto;
}
/*教育事業全体のstyle*/
.service-details {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 0px;
    justify-content: center;
    margin: 1% auto;
    padding: 1px;
}
/*教育事業左側*/
.service-item-left {
    width: 100%;
    height: 300px;
    background-color: rgb(199, 21, 131);
    grid-area: 1 / 1 / 3 / 2;
    text-align: center;
    padding: 15px;
}
/*教育事業アイコン*/
.service-icon {
    width: 24%;
    padding: 4px;
    margin: 1% 2%;
}
/*教育事業文字のstyle*/
.sample-title-left {
    width: 60%;
    font-weight: 600;
    text-align: right;
    padding: 2px;
    color: white;
    margin: 0.4% auto;
}
/*サンプルテキスト文字のstyle*/
.sample-description {
    display: block;
    width: 50%;
    font-weight: 200;
    line-height: 1.2rem;
    font-size: 0.8rem;
    margin: 1.4% 2% 0.1% auto;
    padding: 2px 15px;
    color: white;
    text-align: left;
}
/*教育事業右側全体のstyle*/
.service-item-right {
    width: 100%;
    height: 150px;
}
/*教育事業右側上*/
.service-item-right-top {
    background-color: rgb(116, 55, 92);
    grid-area: 1 / 2 / 2 / 3;
    position: relative;
}
/*右側下教育事業全体のstyle*/
.service-item-right-low {
    background-color: rgb(88, 52, 74);
    grid-area: 2 / 2 / 3 / 3;
    position: relative;
}
/*右側sample-description-right教育事業文字のstyle*/
.sample-title-right {
    width: 30%;
    font-weight: 600;
    color: white;
    position: absolute;
    top: 3%;
    left: 60%;
    padding: 2px;
    margin: 1%;
}
/*右側サンプルテキスト文字のstyle*/
.sample-description-right {
    width: 36%;
    font-weight: 200;
    font-size: 0.8rem;
    color: white;
    position: absolute;
    top: 25%;
    left: 50%;
    padding: 2px;
    margin: 1%;
}
/*blog全体のstyle*/
.blog-section {
    width: 100%;
    background-color: rgb(247, 245, 245);
    padding: 10px;
    margin: 10% auto;
}
/*blog＆ブログ文字のstyle*/
.blog-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1% auto;
}
/*イメージカード全体のstyle*/
.blog-list-container {
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    justify-content: center;
    text-align: center;
    margin: 10px auto;
}
/*イメージカードのstyle*/
.blog-item {
    width: 96%;
    height: 100%;
    background-color: white;
    border-radius: 12px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
/*イメージカード左側*/
.blog-item-left {
    grid-area: 1 / 1 / 2 / 2;
}
/*イメージカード中央*/
.blog-item-center {
    grid-area: 1 / 2 / 2 / 3;
}
/*イメージカード右側*/
.blog-item-right {
    grid-area: 1 / 3 / 2 / 4;
}
/*blog内のイメージstyle*/
.blog-img {
    width: 100%;
    height: 60%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    position: absolute;
    top: 0%;
    margin: 0;
}
/*blogアイコンのstyle*/
.blog-icon {
    width: 25%;
    height: 10%;
    font-size: 1.2rem;
    background-color: rgb(199, 21, 131);
    border-top-left-radius: 12px;
    color: wheat;
    position: absolute;
    padding: 4px;
    margin: 0;
}
/*イメージカード下側全体のstyle*/
.article-container {
    width: 100%;
    margin-top: 64%;
    height: 100%;
}
/*イメージカード内の文章のstyle*/
.feature-article {
    width: 80%;
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 600;
    text-align: left;
    padding: 15px;
    margin: 1% auto;
}
/*イメージカード内一番下の文字のstyle*/
.event-details {
    display: flex;
    justify-content: space-around;
    padding: 20px 15px;
    margin: 1% auto;
}

/*日付のstyle&＃coachtech文字のstyle*/
.event-date,
.event-tag {
    font-size: 1rem;
    font-weight: 600;
}
/*一覧ページへbutton全体のstyle*/
.list-link-container {
    display: flex;
    width: 100%;
    height: 40%;
    justify-content: center;
    margin: 5% auto 2% auto;
}
/*一覧ページへボタンのstyle*/
.list-page-button {
    padding: 10px 20px;
    background-color: white;
    border: 2px solid rgb(199, 21, 131);
    color: rgb(199, 21, 131);
    border-radius: 30px;
    font-size: 1.3rem;
    line-height: 1.5rem;
    font-weight: 600;
}
/*ボタンホバー時のstyle*/
.list-page-button:hover {
    background: rgb(199, 21, 131);
    color: white;
}
/*Company＆会社概要文字全体のstyle*/
.company-container {
    width: 60%;
    margin: 1% auto;
}
/*テーブル全体のstyle*/
.company-profile {
    width: 60%;
    margin: 1% auto 12% auto;
}
/*テーブルのstyle*/
.company-profile-table {
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    border-collapse: collapse;
}
/*th、tdのstyle*/
.profile-header,
.profile-data {
    border: 1px solid #b3b2b2;
    padding: 15px;
    text-align: left;
}
/*thのみstyle*/
.profile-header {
    font-weight: 700;
    background-color: #ccc6c6;
}
/*採用情報＆社員インタビュー全体のstyle*/
.recruitment-section {
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
}
/*採用情報&社員インタビュー*/
.recruitment-link,
.employee-interviews {
    width: 50%;
    text-align: center;
}
/*採用情報*/
.recruitment-link {
    background-image: url(../img/recruit.png);
    height: 100%;
}
/*社員インタビュー*/
.employee-interviews {
    background-image: url(../img/interview.png);
}
/*採用情報文字のstyle&社員インタビュー文字のstyle*/
.link-interview,
.link-recruitment-info {
    width: 100%;
    display: block;
    text-decoration: none;
    color: white;
    margin-top: 18%;
    margin-bottom: 18%;
}
/*お問い合わせはこちら文字＆ボタン全体のstyle*/
.contact-form-section {
    display: block;
    width: 100%;
    height: 45%;
    margin-top: 4%;
    margin-bottom: 5%;
    text-align: center;
}
/*お問い合わせはこちらから文字のstyle*/
.contact-form-heading {
    display: block;
    width: 100%;
    height: 5%;
    margin: 2% auto;
    font-size: 1.3rem;
}
/*お問い合わせボタン*/
.contact-form-button-container {
    top: 26%;
    width: 100%;
    display: block;
    position: relative;
    margin: 5% auto 10%;
}
/*ボタン上のライン*/
.button-decoration-line {
    position: absolute;
    top: -60%;
    left: 50%;
    background: rgb(199, 21, 131);
    width: 2px;
    height: 50%;
    bottom: 5%;
}
/*ボタンのstyle*/
.contact-button {
    position: relative;
    background: linear-gradient(90deg, rgb(199, 21, 131) 50%, rgb(141, 12, 92) 100%);
    border: 2px solid rgba(199, 21, 131, 0);
    color: white;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 1.2rem;
    font-weight: 600;
    box-shadow: 0px 3px 0px 3px rgb(138, 15, 91);
}
/*ボタン疑似要素*/
.contact-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 20px;
    background: url(../img/mailicon.svg) no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    margin-right: 5%
}
/*ボタンホバー時のstyle*/
.contact-button:hover {
    background: rgb(247, 186, 224);
    color: rgb(199, 21, 131);
    background-image: none;
}
/*画面一番下の文字style*/
.copyright-section {
    font-weight: 500;
}

@media screen and (max-width: 539px) {
    .header {
        flex-direction: column;
        padding: 10px 10px 2px 10px;
    }

    .estra {
        width: 100%;
    }

    .estra_logo {
        width: 30%;
        margin: 0;
    }

    .nav {
        width: 100%;
    }

    .list-menu {
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0.5% auto;
    }

    .list-item {
        padding: 2px 10px;
        margin: 0.5% 2%;
    }

    .nav-link {
        font-size: 1.3rem;
    }

    .mission-statement {
        font-size: 1.6rem;
        left: 8%;
        line-height: 1.8rem;
        padding-top: 5px;
        margin-top: 1%;
    }

    .commitment-jp {
        font-size: 0.8rem;
        left: 8%;
        top: 46%;
        line-height: 1rem;
    }

    .company-info {
        font-size: 0.6rem;
        left: 8%;
        top: 58%;
    }

    .news-section {
        width: 90%;
    }

    .title {
        width: 90%;
        font-size: 0.8rem;
        margin: 1% auto 0.1%;
    }

    .sub-title {
        width: 90%;
        font-size: 1rem;
        margin: 0.1% auto 1%;
    }

    .news-list-section {
        overflow-x: auto;
    }

    .news-topic {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;
    }

    .list,
    .list-top,
    .list-end {
        white-space: nowrap;
        box-sizing: content-box;
        min-width: max-content;
    }

    .list-top {
        width: 100vw;
    }

    .list-end {
        width: 100vw;
    }

    .news-list {
        width: 100%;
        padding: 10px;
    }

    .news-topic {
        padding: 0;
    }

    .btn-container {
        margin: 1% 2%;
    }

    .company-details {
        flex-direction: column;
        padding-bottom: 0;
    }

    .company-mission {
        width: 100%;
        margin: 2% 0.1%;
        font-size: 1rem;
        line-height: 1.3rem;
        padding: 10px 0;
    }

    .company-image-container {
        width: 100%;
    }

    .service-description {
        font-size: 1rem;
    }

    .service-details {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .sample-description {
        width: 60%;
    }

    .sample-title-right {
        left: 53%;
    }

    .sample-description-right {
        width: 62%;
        left: 35%;
    }

    .blog-list-container {
        display: flex;
        flex-direction: column;
        padding: 2px 10px;
    }

    .blog-item {
        width: 100%;
        margin-bottom: 5%;
    }

    .feature-article {
        margin-top: 10%;
        line-height: 1.2rem;
        font-size: 1rem;
        padding: 4px;
    }

    .list-link-container {
        margin: 5% auto;
    }

    .list-page-button {
        font-size: 1rem;
    }

    .company-container {
        width: 90%;
    }

    .company-profile {
        width: 90%;
        margin: 1% auto 18% auto;
    }

    .company-profile-table {
        font-size: 0.8rem;
    }

    .recruitment-section {
        flex-direction: column;
        margin: 10% auto;
        font-size: 1.3rem;
    }

    .link-recruitment-info,
    .link-interview {
        margin-top: 25%;
    }

    .recruitment-link,
    .employee-interviews {
        width: 100%;
    }

    .contact-form-section {
        font-size: 0.8rem;
        box-sizing: border-box;
    }

    .contact-form-heading {
        padding-bottom: 30px;
        font-size: 1rem;
    }

    .contact-button {
        width: 64%;
        font-size: 1rem;
    }

    .copyright-section {
        padding: 2px;
    }
}

@media screen and (min-width: 540px) and (max-width: 767px) {
    .header {
        flex-direction: column;
        padding: 2px;
    }

    .estra {
        width: 100%;
    }


    .nav {
        width: 100%;
    }


    .list-menu {
        justify-content: space-between;
    }

    .list-item {
        padding: 2px 5px;
        margin: 1%;
    }

    .nav-link {
        font-size: 1.2rem;
    }

    .mission-statement {
        font-size: 1.6rem;
        left: 17%;
        line-height: 1.8rem;
        padding-top: 10px;
        margin-top: 4%;
    }

    .commitment-jp {
        font-size: 0.8rem;
        left: 17%;
        top: 45%;
        line-height: 1rem;
    }

    .company-info {
        font-size: 0.7rem;
        left: 16%;
        top: 54%;
    }

    .news-section {
        width: 90%;
    }

    .title {
        width: 90%;
        font-size: 0.8rem;
        margin: 1% auto 0.1%;
    }

    .sub-title {
        width: 90%;
        font-size: 1rem;
        margin: 0.1% auto 1%;
    }

    .news-list-section {
        overflow-x: auto;
    }

    .news-topic {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;
    }

    .list,
    .list-top,
    .list-end {
        white-space: nowrap;
        box-sizing: content-box;
        min-width: max-content;
    }

    .list-top {
        width: 100vw;
    }

    .list-end {
        width: 100vw;
    }

    .news-list {
        width: 100%;
        padding: 10px;
    }

    .news-topic {
        padding: 0;
    }

    .btn-container {
        margin: 1% 2%;
    }

    .company-details {
        flex-direction: column;
        padding-bottom: 0;
    }

    .company-mission {
        width: 100%;
        margin: 2% 0.1%;
        font-size: 1rem;
        line-height: 1.3rem;
        padding: 10px 0;
    }

    .company-image-container {
        width: 100%;
    }

    .service-description {
        font-size: 1rem;
    }

    .service-details {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .sample-description {
        width: 60%;
    }

    .sample-title-right {
        left: 53%;
    }

    .sample-description-right {
        width: 62%;
        left: 35%;
    }

    .blog-list-container {
        display: flex;
        flex-direction: column;
        padding: 2px 10px;
    }

    .blog-item {
        width: 100%;
        margin-bottom: 5%;
    }

    .feature-article {
        margin-top: 10%;
        line-height: 1.2rem;
        font-size: 1rem;
        padding: 4px;
    }

    .list-link-container {
        margin: 5% auto;
    }

    .list-page-button {
        font-size: 1rem;
    }

    .company-container {
        width: 90%;
    }

    .company-profile {
        width: 90%;
        margin: 1% auto 18% auto;
    }

    .company-profile-table {
        font-size: 0.8rem;
    }

    .recruitment-section {
        flex-direction: column;
        margin: 10% auto;
        font-size: 1.3rem;
    }

    .link-recruitment-info,
    .link-interview {
        margin-top: 25%;
    }

    .recruitment-link,
    .employee-interviews {
        width: 100%;
    }

    .contact-form-section {
        font-size: 0.8rem;
        box-sizing: border-box;
    }

    .contact-form-heading {
        padding-bottom: 30px;
        font-size: 1rem;
    }

    .contact-button {
        width: 64%;
        font-size: 1rem;
    }

    .copyright-section {
        padding: 2px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    .mission-statement {
        left: 15%;
        padding-top: 10px;
        margin-top: 1%;
    }

    .commitment-jp {
        left: 15%;
        top: 47%;
    }

    .company-info {
        left: 15%;
        top: 56%;
    }

    .company-mission {
        line-height: 1.5rem;
    }

    .sample-description-right {
        width: 45%;
    }
}